.meals-container {
  background: linear-gradient(to right, rgb(99, 170, 126), rgb(207, 255, 225));
  /* background-color: white; */
  padding: 30px;
  border: 2px solid grey;
  border-radius: 10px 10px 10px 10px;
}

.meals-container .card {
  background-color: rgb(167, 228, 165);
  border-radius: 10px 10px 10px 10px;
}

.meals-container .card-header {
  font-weight: 600;
  font-size: 1.2rem;
}

.meals-container .card-header * {
  margin-left: -3;
  margin-right: -3;
}

.meals-container .card-header .row div {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.meals-container .card-body .row {

  border: 1px solid rgb(145, 218, 142);
  margin-bottom: 4px;
}

.meals-container .card-body .row div {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 0.8rem;
  text-align: right;
}

.meals-container .card-body .row .ingredient {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-align: left;
  font-weight: 600;
}

.meals-container .row-sum {
  font-weight: 600;
}

.meals-container .row-legend {
  text-align: left;
}

.meals-container .btn-link {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0;
}

.meals-container .btn-meal-list {
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0;
}

.meals-container h1 {
  text-align: center;
}

.meals-container h2 {
  text-align: center;
}


.meals-container .progress {
  height: 30px;
}

.meals-container .panel-new-meal {
  font-size: 16;
  font-weight: bold;
  text-align: center;
}


.meals-container .btn-water {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 45px;
  height: 45px;
}

.meals-container .btn-sync-target {
  margin-right: 5px;
  width: 140px;
  height: 35px;
  font-weight: bold;
}

.meals-container .btn-inc-target {
  margin-right: 2px;
  width: 69px;
  height: 35px;
  font-weight: bold;
}

.meals-container .btn-dec-target {
  margin-right: 2px;
  width: 69px;
  height: 35px;
  font-weight: bold;
}

.meals-container .fat {
  color: #f00;
}

.meals-container .carbohydrate {
  color: #06f;
}

.meals-container .protein {
  color: #690;
}
