.meals-container {
  background: linear-gradient(to right, rgb(99, 170, 126), rgb(207, 255, 225));
  padding: 30px;
  border: 2px solid grey;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Muli', sans-serif;
}

.meals-container h1 {
  font-size: 1.7rem;
  text-align: center;
}

.meals-container h2 {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.meals-container h4 {
  font-size: 1.0rem;
  text-align: center;
  text-transform: uppercase;
}

/* ----------------- */
/* Date section */
/* ----------------- */

.date-container .col-date-button {
  text-align: center;
}

.date-container .fas {
  font-size: 2rem;
}

.date-container .rw-datetime-picker {
  width: 180px;
  margin: auto;
}

.date-container .rw-widget-picker {
  background-color: rgba(0, 0, 0, 0);
  border: unset;
  box-shadow: unset;
}

.date-container .rw-widget-picker:hover {
  background-color: rgba(0, 0, 0, 0);
  border: unset;
  box-shadow: unset;
}

.date-container .rw-widget-input {
  background-color: lightgray;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid darkgray;
}

.date-container .rw-select-bordered {
  margin: 0;
  background-color: lightgray;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid darkgray;
}

.date-container .rw-select-bordered :hover {
  background-color: darkgrey;
}

.date-container .rw-calendar-popup {
  width: auto;
}

.date-container .rw-calendar {
  border-radius: 5px 5px 5px 5px;
  font-size: 0.8rem;
  background-color: lightgray;
  box-shadow: unset;
}

/* ----------------- */
/* Meal list section */
/* ----------------- */

.meal-list-container {
  margin-top: 20px;
}

.meal-list-container .card {
  background-color: rgb(167, 228, 165);
  border-radius: 10px 10px 10px 10px;
}

.meal-list-container .card-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.meal-list-container .card-header * {
  margin-left: -3;
  margin-right: -3;
}

.meal-list-container .card-header .row div {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.meal-list-container .card-body .row {
  border: 1px solid rgb(145, 218, 142);
  margin-bottom: 4px;
}

.meal-list-container .card-body .row div {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 0.8rem;
  text-align: right;
}

.meal-list-container .card-body .row .ingredient {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-align: left;
  font-weight: 700;
}

.meal-list-container .row-sum {
  font-weight: 700;
}

.meal-list-container .row-legend {
  text-align: left;
}

.meal-list-container .btn-link {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0;
}

.meal-list-container .btn-meal-list {
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0;
}

.meal-list-container .panel-new-meal {
  font-size: 16;
  font-weight: bold;
  text-align: center;
}

.meal-list-container .fat {
  color: #f00;
}

.meal-list-container .carbohydrate {
  color: #06f;
}

.meal-list-container .protein {
  color: #690;
}

/* ----------------- */
/* Water section */
/* ----------------- */

.water-container {
  margin-top: 20px;
}

.water-container .btn {
  color: rgb(23, 122, 168);
}

.water-container .btn:hover {
  color: rgb(17, 90, 124);
}

.water-container .fa-wine-glass-alt {
  font-size: 2rem;
}

.water-container .fa-tint {
  font-size: 1.8rem;
}

.water-container .progress {
  height: 30px;
}

/* ----------------- */
/* Water settings section */
/* ----------------- */

.water-settings-container {
  margin-top:15px;
  text-align: center;
}

.water-settings-container > h4 {
  margin-bottom: 2px;
  margin-top: 10px;
}

.water-settings-container .btn-link {
  padding-top: 1px;
  padding-bottom: 1px;
}
