.meal-edit-container {
  background: linear-gradient(to right, rgb(99, 170, 126), rgb(207, 255, 225));
  padding: 30px;
  border: 2px solid grey;
  border-radius: 10px 10px 10px 10px;
}

/* ------------------------------ */
/* Name, date and search -section */
/* ------------------------------ */

.meal-edit-container .DayPickerInput input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.meal-edit-container ul.ingredients {
  max-height: 400px;
  min-width: 300px;
  max-width: 600px;
  z-index: 5;
  overflow: auto;
  position: absolute;
  margin-top: -15px;
  width: 31%;
  cursor: pointer;
} 


/* -------------------- */
/* Ingredients -section */
/* -------------------- */

.meal-edit-container div.ingredients {
    border-radius: 5px;
    border: solid 1px grey;
}

.meal-edit-container div.ingredient {
    border-radius: 5px;
    border: solid 1px grey;
}

/* ---------------- */
/* Actions -section */
/* ---------------- */


.meal-edit-container .actions {
  margin-top: 40px;
  border-top: 5px solid rgb(255, 255, 255);
  padding-top: 40px;
}



