.trends-container {
  background: linear-gradient(to right, rgb(99, 170, 126), rgb(207, 255, 225));
  padding: 30px;
  border: 2px solid grey;
  border-radius: 10px 10px 10px 10px;
}

/* ----------------- */
/* Date section */
/* ----------------- */

.trends-container .date-container .rw-datetime-picker {
  width: 180px;
}

.trends-container .btn-load-data {
  text-align: center;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}
