.navbar-light {
  background-color: #41a76a;
  background: linear-gradient(to bottom, rgb(74, 148, 102), rgb(74, 155, 125));
  border-color: #a4b1a0;
  border-width: 2px;
  margin: 0 -15px;
  border: none;
  box-shadow: -1px 1px 9px 0px;
  margin-bottom: 15px;
}
