.loginform-container {
  background: linear-gradient(to right, rgb(99, 170, 126), rgb(207, 255, 225));
  padding: 30px;
  border: 2px solid grey;
  border-radius: 10px 10px 10px 10px;
} 

.loginform-message {
}

.loginform-error {
  color: red;
}
